#pragma code_page(65001)

#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_CHIRAMI ICON "chirami.ico"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_APP_TITLE            L"chirami"
    IDS_STATUS_LOADING       L"読み込み中..."
    IDS_ERR_FILE_OPEN        L"ファイルを開けません"
    IDS_ERR_DECODE           L"画像をデコードできません"
    IDS_ERR_IMAGE_TOO_LARGE  L"画像が大きすぎます"
    IDS_ABOUT_TITLE          L"バージョン情報"
    IDS_ABOUT_TEXT           L"chirami {}\n高速・軽量な画像ビューア\nMIT License"
    IDS_FILTER_IMAGES        L"画像ファイル"
    IDS_FILTER_ALL           L"すべてのファイル"
    IDS_ERR_SAVE             L"保存できません"
    IDS_CLIPBOARD_NAME       L"クリップボード"
    IDS_FILTER_PNG           L"PNG 画像"
    IDS_FILTER_JPEG          L"JPEG 画像"
    IDS_FILTER_BMP           L"BMP 画像"
    IDS_FILTER_TIFF          L"TIFF 画像"
    IDS_ERR_NO_IMAGES        L"表示できる画像がありません"
    IDS_ERR_RESIZE           L"リサイズできません"
    IDS_ABOUT_TJ_LOADED      L"libjpeg-turbo: 使用中 (turbojpeg.dll)"
    IDS_ABOUT_TJ_MISSING     L"libjpeg-turbo: 未検出（JPEG は WIC でデコード）"
    IDS_ABOUT_FORMATS        L"対応形式 (WIC デコーダー):"
    IDS_ASSOC_TYPENAME       L"chirami {} ファイル"
    IDS_ASSOC_DESCRIPTION    L"高速・軽量な画像ビューア"
    IDS_ASSOC_REGISTERED     L"関連付けを登録しました。chirami-unregister.reg でいつでも解除できます。\n\nWindows の「既定のアプリ」設定を開いて、chirami を既定にしますか?"
    IDS_ASSOC_UNREGISTERED   L"関連付けを解除しました。"
    IDS_ASSOC_MOVED          L"chirami.exe の場所が関連付けの登録時から変わっています。\n現在の場所で関連付けを更新しますか?"
    IDS_ERR_ASSOC            L"関連付けの処理に失敗しました"
    IDS_META_TITLE           L"画像のプロパティ"
    IDS_META_COL_NAME        L"項目"
    IDS_META_COL_VALUE       L"値"
    IDS_META_GROUP_FILE      L"ファイル"
    IDS_META_GROUP_IMAGE     L"画像"
    IDS_META_GROUP_PNGTEXT   L"PNG テキスト"
    IDS_META_GROUP_WIC       L"メタデータ"
    IDS_META_FILENAME        L"ファイル名"
    IDS_META_FOLDER          L"フォルダー"
    IDS_META_FILESIZE        L"ファイルサイズ"
    IDS_META_SIZE_FMT        L"{} ({} バイト)"
    IDS_META_MODIFIED        L"更新日時"
    IDS_META_CREATED         L"作成日時"
    IDS_META_FORMAT          L"形式"
    IDS_META_DIMENSIONS      L"サイズ (ピクセル)"
    IDS_META_PIXELFORMAT     L"ピクセル形式"
    IDS_META_DPI             L"解像度 (DPI)"
    IDS_META_FRAMES          L"フレーム数"
    IDS_META_COMPRESSED      L"(圧縮テキスト — 表示未対応)"
    IDS_META_COPY_VALUE      L"値をコピー(&C)\tCtrl+C"
    IDS_META_COPY_ALL        L"すべてコピー(&A)"
    IDS_META_ERROR           L"メタデータを取得できません"
    IDS_META_DISPLAYFORMAT   L"表示形式"
END

IDD_RESIZE DIALOGEX 0, 0, 216, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リサイズ"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "幅(&W):",              -1, 8, 10, 40, 8
    EDITTEXT        IDC_RESIZE_WIDTH,           50, 8, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 10, 12, 8
    EDITTEXT        IDC_RESIZE_WIDTH_PCT,       118, 8, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 10, 10, 8
    LTEXT           "高さ(&H):",            -1, 8, 27, 40, 8
    EDITTEXT        IDC_RESIZE_HEIGHT,          50, 25, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 27, 12, 8
    EDITTEXT        IDC_RESIZE_HEIGHT_PCT,      118, 25, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 27, 10, 8
    AUTOCHECKBOX    "縦横比を維持(&K)",     IDC_RESIZE_KEEPASPECT, 8, 44, 130, 10
    DEFPUSHBUTTON   "OK",                   IDOK, 104, 60, 50, 14
    PUSHBUTTON      "キャンセル",           IDCANCEL, 158, 60, 50, 14
END

IDR_MAINMENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "開く(&O)...\tCtrl+O",           IDM_FILE_OPEN
        MENUITEM "名前を付けて保存(&A)...\tCtrl+S", IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        POPUP "関連付け(&N)"
        BEGIN
            MENUITEM "登録・更新(&R)",            IDM_ASSOC_REGISTER
            MENUITEM "解除(&U)",                  IDM_ASSOC_UNREGISTER
            MENUITEM SEPARATOR
            MENUITEM "既定のアプリ設定を開く(&D)", IDM_ASSOC_SETTINGS
        END
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)",                      IDM_FILE_EXIT
    END
    POPUP "編集(&E)"
    BEGIN
        MENUITEM "貼り付け(&P)\tCtrl+V",          IDM_EDIT_PASTE
        MENUITEM SEPARATOR
        MENUITEM "右へ 90 度回転(&R)\tR",         IDM_EDIT_ROTATE_CW
        MENUITEM "左へ 90 度回転(&L)\tL",         IDM_EDIT_ROTATE_CCW
        MENUITEM "左右反転(&H)\tH",               IDM_EDIT_FLIP_H
        MENUITEM "上下反転(&V)\tV",               IDM_EDIT_FLIP_V
        MENUITEM SEPARATOR
        MENUITEM "クロップ(&C)\tC",               IDM_EDIT_CROP
        MENUITEM "黒塗り(&B)\tB",                 IDM_EDIT_BLACKOUT
        MENUITEM SEPARATOR
        MENUITEM "リサイズ(&S)...\tCtrl+R",       IDM_EDIT_RESIZE
    END
    POPUP "表示(&V)"
    BEGIN
        MENUITEM "フィット表示(&F)\t0",           IDM_VIEW_FIT
        MENUITEM "等倍表示(&A)\t1",               IDM_VIEW_ACTUAL
        MENUITEM SEPARATOR
        MENUITEM "拡大(&I)\t+",                   IDM_VIEW_ZOOMIN
        MENUITEM "縮小(&O)\t-",                   IDM_VIEW_ZOOMOUT
        MENUITEM SEPARATOR
        POPUP "並び順(&S)"
        BEGIN
            MENUITEM "名前(&N)",                  IDM_SORT_NAME
            MENUITEM "更新日時(&D)",              IDM_SORT_DATE
            MENUITEM "サイズ(&S)",                IDM_SORT_SIZE
            MENUITEM SEPARATOR
            MENUITEM "昇順(&A)",                  IDM_SORT_ASC
            MENUITEM "降順(&E)",                  IDM_SORT_DESC
        END
        MENUITEM SEPARATOR
        MENUITEM "プロパティ(&P)\tI",             IDM_VIEW_PROPERTIES
        MENUITEM "フルスクリーン(&U)\tF11",       IDM_VIEW_FULLSCREEN
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "バージョン情報(&A)...",         IDM_HELP_ABOUT
    END
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_APP_TITLE            L"chirami"
    IDS_STATUS_LOADING       L"Loading..."
    IDS_ERR_FILE_OPEN        L"Cannot open file"
    IDS_ERR_DECODE           L"Cannot decode image"
    IDS_ERR_IMAGE_TOO_LARGE  L"Image is too large"
    IDS_ABOUT_TITLE          L"About"
    IDS_ABOUT_TEXT           L"chirami {}\nA fast and lightweight image viewer\nMIT License"
    IDS_FILTER_IMAGES        L"Image files"
    IDS_FILTER_ALL           L"All files"
    IDS_ERR_SAVE             L"Cannot save file"
    IDS_CLIPBOARD_NAME       L"Clipboard"
    IDS_FILTER_PNG           L"PNG image"
    IDS_FILTER_JPEG          L"JPEG image"
    IDS_FILTER_BMP           L"BMP image"
    IDS_FILTER_TIFF          L"TIFF image"
    IDS_ERR_NO_IMAGES        L"No displayable images in this folder"
    IDS_ERR_RESIZE           L"Cannot resize image"
    IDS_ABOUT_TJ_LOADED      L"libjpeg-turbo: loaded (turbojpeg.dll)"
    IDS_ABOUT_TJ_MISSING     L"libjpeg-turbo: not found (JPEG decoded via WIC)"
    IDS_ABOUT_FORMATS        L"Supported formats (WIC decoders):"
    IDS_ASSOC_TYPENAME       L"chirami {} File"
    IDS_ASSOC_DESCRIPTION    L"A fast and lightweight image viewer"
    IDS_ASSOC_REGISTERED     L"File associations registered. Run chirami-unregister.reg to undo at any time.\n\nOpen the Windows Default apps settings to make chirami the default?"
    IDS_ASSOC_UNREGISTERED   L"File associations removed."
    IDS_ASSOC_MOVED          L"chirami.exe has moved since file associations were registered.\nUpdate the associations to the current location?"
    IDS_ERR_ASSOC            L"File association operation failed"
    IDS_META_TITLE           L"Image Properties"
    IDS_META_COL_NAME        L"Property"
    IDS_META_COL_VALUE       L"Value"
    IDS_META_GROUP_FILE      L"File"
    IDS_META_GROUP_IMAGE     L"Image"
    IDS_META_GROUP_PNGTEXT   L"PNG text"
    IDS_META_GROUP_WIC       L"Metadata"
    IDS_META_FILENAME        L"File name"
    IDS_META_FOLDER          L"Folder"
    IDS_META_FILESIZE        L"File size"
    IDS_META_SIZE_FMT        L"{} ({} bytes)"
    IDS_META_MODIFIED        L"Modified"
    IDS_META_CREATED         L"Created"
    IDS_META_FORMAT          L"Format"
    IDS_META_DIMENSIONS      L"Size (pixels)"
    IDS_META_PIXELFORMAT     L"Pixel format"
    IDS_META_DPI             L"Resolution (DPI)"
    IDS_META_FRAMES          L"Frame count"
    IDS_META_COMPRESSED      L"(compressed text — display not supported)"
    IDS_META_COPY_VALUE      L"&Copy Value\tCtrl+C"
    IDS_META_COPY_ALL        L"Copy &All"
    IDS_META_ERROR           L"Cannot read metadata"
    IDS_META_DISPLAYFORMAT   L"Display format"
END

IDD_RESIZE DIALOGEX 0, 0, 216, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Resize"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Width:",              -1, 8, 10, 40, 8
    EDITTEXT        IDC_RESIZE_WIDTH,           50, 8, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 10, 12, 8
    EDITTEXT        IDC_RESIZE_WIDTH_PCT,       118, 8, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 10, 10, 8
    LTEXT           "&Height:",             -1, 8, 27, 40, 8
    EDITTEXT        IDC_RESIZE_HEIGHT,          50, 25, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 27, 12, 8
    EDITTEXT        IDC_RESIZE_HEIGHT_PCT,      118, 25, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 27, 10, 8
    AUTOCHECKBOX    "&Keep aspect ratio",   IDC_RESIZE_KEEPASPECT, 8, 44, 130, 10
    DEFPUSHBUTTON   "OK",                   IDOK, 104, 60, 50, 14
    PUSHBUTTON      "Cancel",               IDCANCEL, 158, 60, 50, 14
END

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O",              IDM_FILE_OPEN
        MENUITEM "Save &As...\tCtrl+S",           IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        POPUP "File Associatio&ns"
        BEGIN
            MENUITEM "&Register / Update",        IDM_ASSOC_REGISTER
            MENUITEM "&Unregister",               IDM_ASSOC_UNREGISTER
            MENUITEM SEPARATOR
            MENUITEM "Open &Default Apps Settings", IDM_ASSOC_SETTINGS
        END
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                         IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Paste\tCtrl+V",                IDM_EDIT_PASTE
        MENUITEM SEPARATOR
        MENUITEM "Rotate &Right 90°\tR",          IDM_EDIT_ROTATE_CW
        MENUITEM "Rotate &Left 90°\tL",           IDM_EDIT_ROTATE_CCW
        MENUITEM "Flip &Horizontal\tH",           IDM_EDIT_FLIP_H
        MENUITEM "Flip &Vertical\tV",             IDM_EDIT_FLIP_V
        MENUITEM SEPARATOR
        MENUITEM "&Crop\tC",                      IDM_EDIT_CROP
        MENUITEM "&Black Out\tB",                 IDM_EDIT_BLACKOUT
        MENUITEM SEPARATOR
        MENUITEM "Re&size...\tCtrl+R",            IDM_EDIT_RESIZE
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Fit to Window\t0",             IDM_VIEW_FIT
        MENUITEM "&Actual Size\t1",               IDM_VIEW_ACTUAL
        MENUITEM SEPARATOR
        MENUITEM "Zoom &In\t+",                   IDM_VIEW_ZOOMIN
        MENUITEM "Zoom &Out\t-",                  IDM_VIEW_ZOOMOUT
        MENUITEM SEPARATOR
        POPUP "&Sort Order"
        BEGIN
            MENUITEM "&Name",                     IDM_SORT_NAME
            MENUITEM "&Date Modified",            IDM_SORT_DATE
            MENUITEM "&Size",                     IDM_SORT_SIZE
            MENUITEM SEPARATOR
            MENUITEM "&Ascending",                IDM_SORT_ASC
            MENUITEM "D&escending",               IDM_SORT_DESC
        END
        MENUITEM SEPARATOR
        MENUITEM "&Properties\tI",                IDM_VIEW_PROPERTIES
        MENUITEM "F&ullscreen\tF11",              IDM_VIEW_FULLSCREEN
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",                     IDM_HELP_ABOUT
    END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "chirami image viewer"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "chirami"
            VALUE "LegalCopyright", "Licensed under the MIT License"
            VALUE "OriginalFilename", "chirami.exe"
            VALUE "ProductName", "chirami"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
