#pragma code_page(65001)

#include <windows.h>
#include "resource.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_APP_TITLE            L"chirami"
    IDS_STATUS_LOADING       L"読み込み中..."
    IDS_ERR_FILE_OPEN        L"ファイルを開けません"
    IDS_ERR_DECODE           L"画像をデコードできません"
    IDS_ERR_IMAGE_TOO_LARGE  L"画像が大きすぎます"
    IDS_ABOUT_TITLE          L"バージョン情報"
    IDS_ABOUT_TEXT           L"chirami {}\n高速・軽量な画像ビューア\nMIT License"
    IDS_FILTER_IMAGES        L"画像ファイル"
    IDS_FILTER_ALL           L"すべてのファイル"
    IDS_ERR_SAVE             L"保存できません"
    IDS_CLIPBOARD_NAME       L"クリップボード"
    IDS_FILTER_PNG           L"PNG 画像"
    IDS_FILTER_JPEG          L"JPEG 画像"
    IDS_FILTER_BMP           L"BMP 画像"
    IDS_FILTER_TIFF          L"TIFF 画像"
    IDS_ERR_NO_IMAGES        L"表示できる画像がありません"
    IDS_ERR_RESIZE           L"リサイズできません"
    IDS_ABOUT_TJ_LOADED      L"libjpeg-turbo: 使用中 (turbojpeg.dll)"
    IDS_ABOUT_TJ_MISSING     L"libjpeg-turbo: 未検出（JPEG は WIC でデコード）"
    IDS_ABOUT_FORMATS        L"対応形式 (WIC デコーダー):"
END

IDD_RESIZE DIALOGEX 0, 0, 216, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リサイズ"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "幅(&W):",              -1, 8, 10, 40, 8
    EDITTEXT        IDC_RESIZE_WIDTH,           50, 8, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 10, 12, 8
    EDITTEXT        IDC_RESIZE_WIDTH_PCT,       118, 8, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 10, 10, 8
    LTEXT           "高さ(&H):",            -1, 8, 27, 40, 8
    EDITTEXT        IDC_RESIZE_HEIGHT,          50, 25, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 27, 12, 8
    EDITTEXT        IDC_RESIZE_HEIGHT_PCT,      118, 25, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 27, 10, 8
    AUTOCHECKBOX    "縦横比を維持(&K)",     IDC_RESIZE_KEEPASPECT, 8, 44, 130, 10
    DEFPUSHBUTTON   "OK",                   IDOK, 104, 60, 50, 14
    PUSHBUTTON      "キャンセル",           IDCANCEL, 158, 60, 50, 14
END

IDR_MAINMENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "開く(&O)...\tCtrl+O",           IDM_FILE_OPEN
        MENUITEM "名前を付けて保存(&A)...\tCtrl+S", IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)",                      IDM_FILE_EXIT
    END
    POPUP "編集(&E)"
    BEGIN
        MENUITEM "貼り付け(&P)\tCtrl+V",          IDM_EDIT_PASTE
        MENUITEM SEPARATOR
        MENUITEM "右へ 90 度回転(&R)\tR",         IDM_EDIT_ROTATE_CW
        MENUITEM "左へ 90 度回転(&L)\tL",         IDM_EDIT_ROTATE_CCW
        MENUITEM "左右反転(&H)\tH",               IDM_EDIT_FLIP_H
        MENUITEM "上下反転(&V)\tV",               IDM_EDIT_FLIP_V
        MENUITEM SEPARATOR
        MENUITEM "クロップ(&C)\tC",               IDM_EDIT_CROP
        MENUITEM "黒塗り(&B)\tB",                 IDM_EDIT_BLACKOUT
        MENUITEM SEPARATOR
        MENUITEM "リサイズ(&S)...\tCtrl+R",       IDM_EDIT_RESIZE
    END
    POPUP "表示(&V)"
    BEGIN
        MENUITEM "フィット表示(&F)\t0",           IDM_VIEW_FIT
        MENUITEM "等倍表示(&A)\t1",               IDM_VIEW_ACTUAL
        MENUITEM SEPARATOR
        MENUITEM "拡大(&I)\t+",                   IDM_VIEW_ZOOMIN
        MENUITEM "縮小(&O)\t-",                   IDM_VIEW_ZOOMOUT
        MENUITEM SEPARATOR
        POPUP "並び順(&S)"
        BEGIN
            MENUITEM "名前(&N)",                  IDM_SORT_NAME
            MENUITEM "更新日時(&D)",              IDM_SORT_DATE
            MENUITEM "サイズ(&S)",                IDM_SORT_SIZE
            MENUITEM SEPARATOR
            MENUITEM "昇順(&A)",                  IDM_SORT_ASC
            MENUITEM "降順(&E)",                  IDM_SORT_DESC
        END
        MENUITEM SEPARATOR
        MENUITEM "フルスクリーン(&U)\tF11",       IDM_VIEW_FULLSCREEN
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "バージョン情報(&A)...",         IDM_HELP_ABOUT
    END
END

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
    IDS_APP_TITLE            L"chirami"
    IDS_STATUS_LOADING       L"Loading..."
    IDS_ERR_FILE_OPEN        L"Cannot open file"
    IDS_ERR_DECODE           L"Cannot decode image"
    IDS_ERR_IMAGE_TOO_LARGE  L"Image is too large"
    IDS_ABOUT_TITLE          L"About"
    IDS_ABOUT_TEXT           L"chirami {}\nA fast and lightweight image viewer\nMIT License"
    IDS_FILTER_IMAGES        L"Image files"
    IDS_FILTER_ALL           L"All files"
    IDS_ERR_SAVE             L"Cannot save file"
    IDS_CLIPBOARD_NAME       L"Clipboard"
    IDS_FILTER_PNG           L"PNG image"
    IDS_FILTER_JPEG          L"JPEG image"
    IDS_FILTER_BMP           L"BMP image"
    IDS_FILTER_TIFF          L"TIFF image"
    IDS_ERR_NO_IMAGES        L"No displayable images in this folder"
    IDS_ERR_RESIZE           L"Cannot resize image"
    IDS_ABOUT_TJ_LOADED      L"libjpeg-turbo: loaded (turbojpeg.dll)"
    IDS_ABOUT_TJ_MISSING     L"libjpeg-turbo: not found (JPEG decoded via WIC)"
    IDS_ABOUT_FORMATS        L"Supported formats (WIC decoders):"
END

IDD_RESIZE DIALOGEX 0, 0, 216, 78
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Resize"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Width:",              -1, 8, 10, 40, 8
    EDITTEXT        IDC_RESIZE_WIDTH,           50, 8, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 10, 12, 8
    EDITTEXT        IDC_RESIZE_WIDTH_PCT,       118, 8, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 10, 10, 8
    LTEXT           "&Height:",             -1, 8, 27, 40, 8
    EDITTEXT        IDC_RESIZE_HEIGHT,          50, 25, 44, 13, ES_NUMBER | ES_AUTOHSCROLL
    LTEXT           "px",                   -1, 97, 27, 12, 8
    EDITTEXT        IDC_RESIZE_HEIGHT_PCT,      118, 25, 36, 13, ES_AUTOHSCROLL
    LTEXT           "%",                    -1, 157, 27, 10, 8
    AUTOCHECKBOX    "&Keep aspect ratio",   IDC_RESIZE_KEEPASPECT, 8, 44, 130, 10
    DEFPUSHBUTTON   "OK",                   IDOK, 104, 60, 50, 14
    PUSHBUTTON      "Cancel",               IDCANCEL, 158, 60, 50, 14
END

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O",              IDM_FILE_OPEN
        MENUITEM "Save &As...\tCtrl+S",           IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                         IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Paste\tCtrl+V",                IDM_EDIT_PASTE
        MENUITEM SEPARATOR
        MENUITEM "Rotate &Right 90°\tR",          IDM_EDIT_ROTATE_CW
        MENUITEM "Rotate &Left 90°\tL",           IDM_EDIT_ROTATE_CCW
        MENUITEM "Flip &Horizontal\tH",           IDM_EDIT_FLIP_H
        MENUITEM "Flip &Vertical\tV",             IDM_EDIT_FLIP_V
        MENUITEM SEPARATOR
        MENUITEM "&Crop\tC",                      IDM_EDIT_CROP
        MENUITEM "&Black Out\tB",                 IDM_EDIT_BLACKOUT
        MENUITEM SEPARATOR
        MENUITEM "Re&size...\tCtrl+R",            IDM_EDIT_RESIZE
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Fit to Window\t0",             IDM_VIEW_FIT
        MENUITEM "&Actual Size\t1",               IDM_VIEW_ACTUAL
        MENUITEM SEPARATOR
        MENUITEM "Zoom &In\t+",                   IDM_VIEW_ZOOMIN
        MENUITEM "Zoom &Out\t-",                  IDM_VIEW_ZOOMOUT
        MENUITEM SEPARATOR
        POPUP "&Sort Order"
        BEGIN
            MENUITEM "&Name",                     IDM_SORT_NAME
            MENUITEM "&Date Modified",            IDM_SORT_DATE
            MENUITEM "&Size",                     IDM_SORT_SIZE
            MENUITEM SEPARATOR
            MENUITEM "&Ascending",                IDM_SORT_ASC
            MENUITEM "D&escending",               IDM_SORT_DESC
        END
        MENUITEM SEPARATOR
        MENUITEM "F&ullscreen\tF11",              IDM_VIEW_FULLSCREEN
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",                     IDM_HELP_ABOUT
    END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "chirami image viewer"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "chirami"
            VALUE "LegalCopyright", "Licensed under the MIT License"
            VALUE "OriginalFilename", "chirami.exe"
            VALUE "ProductName", "chirami"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
